
@{
    ViewData["Title"] = "Create";
}

<h1>Studnent Record</h1>

<font color="red">@ViewBag.student.Id <br />

    @ViewBag.student.Name
</font>
<br />
@ViewBag.student.Address
<br />
@ViewBag.student.Marks
<br />
